*{
    margin: o;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    color: black;
}



.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 12px;
}
.table-container {  
  width: fit-content;
  margin: 60px auto;
}
.table-title {
  margin: 0 0 5px 0;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}
table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 15px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1)
};

th {
    background-color: #d6a8e9;
    color: white;
    padding: 10px;
    text-align: center;
}

td {
    padding: 8px;
    text-align: center;
    border: 1px;
}

.table-title{
    text-align: center;
    font-size: 40px;
    color: #333;
    margin-top: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

tr
{
    border-bottom: 1px solid #eee;
}
tr:nth-child(even) {
    background-color: rgb(212, 150, 173);
}

tr:hover {
    background-color: #e9a3e9;
    transition: 0.3s;
}

